@charset "UTF-8";
/**
 * Copyright 2013 INOUT Web Design Ltd
 * Date: 2013/03/07
 */

header {
	padding: 0 0 1% 0;
}

main, section {
	padding: 1% 0;
}

/*
.boxshadow {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    display: block;
    height: 2px;
    position: relative;
    z-index: 10;
}
*/

.odd {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	background-color: #fafafa;
}

.even {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

video img {
	position: absolute;
	left: 0;
	cursor: pointer;
}

header .col_2_of_2 {
	text-align:	center;
}

select {
	width: 25%;
}

/* ==========================================================================
   NAVIGATION
   ========================================================================== */

header .col_1_of_4 {
	float: left;
}

header nav {
	position: relative;
	top: 45px;
}

header nav ul li {
	border-right: 1px solid #AAAAAA;
    display: inline;
    padding: 0 15px;
}

header nav ul li:hover {
	font-weight: 600;
	cursor: pointer;
}

/* ==========================================================================
   LINKS
   ========================================================================== */

.item.active {
	text-decoration: underline;
	font-weight: 600;
}

/* ==========================================================================
   INTRO Page
   ========================================================================== */

#introPage {}

#introPage img {
	height: auto; /* responsive design for hardcoded images */
}

#introPage .innerContainer {
	text-align: center;
}

#introPage main {
	border-bottom: 1px solid #ddd;
	background-image: url('../images/bg-image2.jpg');
	background-position: 50% 40%;
	background-repeat: no-repeat;
	background-size: cover;
}

#introPage main h2,
#introPage main h3,
#introPage main p {
	color: #fff;
}

#introPage main h2,
#introPage main h3 {
	font-weight: 900;
}

#introPage main .userAccessBox {
	margin: 0 auto;
	width: 30%;
}

#introPage main .userAccessBox #login,
#introPage main .userAccessBox #register {
	display: none;
}

#introPage main .userAccessBox a {
	font-family: 'Bevan', cursive;
	display: block; 
	position: relative;
	top: 24px;
	color: #fff;
}

#introPage main .userAccessBox a > span {
	display: block;
	width: 95px;
	text-align: left;
	text-transform: uppercase;
}

#introPage main #hiddenUserAccess {
	display: none;
	background-color: #fff;
	padding: 1em 0;
	text-align: center;
}

#introPage main #hiddenUserAccess .close {
	position: relative;
	top: -10px;
	right: 10px;
	background: url('../images/icons/icon-close.png') no-repeat 0 0 transparent;
	width: 30px;
	height: 30px;
	background-size: 100%;
	float: right;
}

#introPage main #hiddenUserAccess .col_1_of_2 {
	float: left;
	margin-top: 1em;
}

#introPage main #hiddenUserAccess #register h4 {
	margin: 0.3em 0;
}

#introPage main #hiddenUserAccess #register h5 {
	margin-bottom: 1em;
	color: #333 !important;
}

#introPage main #hiddenUserAccess #register .col_1_of_2:last-child {
	border-left: 1px solid #ddd;
}

#introPage main #hiddenUserAccess .btn-submit {
	width: 63%;
}

#introPage section.even h3 {
	margin-bottom: 1%;
}

/* ==========================================================================
   Registration
   ========================================================================== */

#registration {}

#registration nav {
	padding: 1% 0;
}

#registration nav .innerContainer {
	text-align: center;
}

#registration nav .col_1_of_4 {
	float: left;
	padding: 0 0.6%;
}

#registration nav .steps {
	background: url('../images/icons/icons-steps-registration.png') no-repeat;
	width: 220px;
	height: 150px;
	display: block;
}

#registration nav .steps.one   {background-position: 0 0;}
#registration nav .steps.two   {background-position: -220px 0;}
#registration nav .steps.three {background-position: -440px 0;}
#registration nav .steps.four  {background-position: -660px 0;}

#registration nav .steps.one.orange   {background-position: 0 -151px;}
#registration nav .steps.two.orange   {background-position: -220px -151px;}
#registration nav .steps.three.orange {background-position: -440px -151px;}
#registration nav .steps.four.orange  {background-position: -660px -151px;}

#registration nav .steps.one.green   {background-position: 0 -302px;}
#registration nav .steps.two.green   {background-position: -220px -302px;}
#registration nav .steps.three.green {background-position: -440px -302px;}
#registration nav .steps.four.green  {background-position: -660px -302px;}

/* Stage 1 (global - fitnessPLan)
======================*/
#registration.stage1 main header .col_1_of_2,
#registration.stage1 main header img,
#fitnessPlan main header .col_1_of_2,
#fitnessPlan main header .col_1_of_5,
#fitnessPlan main header img {
	float: left;
}

#registration.stage1 main header .col_1_of_5 {
	float: right;
}

#registration.stage1 main header img,
#fitnessPlan main header img {
	margin-right: 5%;
}

#registration.stage1 main .innerContainer,
#fitnessPlan main .innerContainer {
	border: 1px solid #DDDDDD;
    padding: 2%;
}

#registration.stage1 section form > .col_2_of_2 {
	padding: 2% 0 1%;
}

#registration.stage1 section form label {
	display: inline-block;
    width: 65%;
    margin-left: 2%;
}

#registration.stage1 section form .btn-next {
	margin-top: 2%;
	float: right;
}

/* Stage 1 - Manual registration (no facebook)
===============================================*/

#registration.stage1.no-facebook main header .col_1_of_3 {
	float: right;
}

#registration.stage1.no-facebook main header p:first-child select {
	width: 30%;
}

#registration.stage1.no-facebook .btn-upload {
	width: 26%;
	color: #fff;
}

/* Stage 2 - Questionnarie
===============================================*/

#registration.stage2 {}

#registration.stage2 main header {
	border-bottom: 1px solid #EEEEEE;
    margin: 0 auto 10px;
    padding: 0 0 20px;
    width: 760px;
}

#registration.stage2 main header p {
	font-size: 80% !important;
	margin: 0 !important;
}

#registration.stage2 article h3 {
	font-weight: 600;
	margin-bottom: 20px;
}

#registration.stage2 .btn-asnwers {
	padding-right: 50px;
	padding-left: 50px;
	position: relative;
}

#registration.stage2 .btn-asnwers.yes {
	left: 23%;
}

#registration.stage2 .btn-asnwers.no {
	left: 49%;
}

#registration.stage2 .questionPagination {
	font-size: 70%;
    font-weight: 600;
    margin: 0 auto;
    padding: 50px 0 0;
    text-align: center;
    width: 300px;
}

/* Stage 3 - Summary
===============================================*/

#registration.stage3 {}

#registration.stage3 main header {
	border-bottom: 1px solid #eee;
}

#registration.stage3 main .col_1_of_2,
#registration.stage3 main header img {
	float: left;
}

#registration.stage3 main header select {
	width: 85px;
}

#registration.stage3 main header img {
	margin-right: 5%;
}

#registration.stage3 main .innerContainer {
	border: 1px solid #DDDDDD;
    padding: 2%;
}

#registration.stage3 section form > .col_2_of_2 {
	padding: 2% 0 1%;
}

#registration.stage3 section form label {
	display: inline-block;
    width: 65%;
    margin-left: 2%;
    vertical-align: top;
}

#registration.stage3 section form .btn-next {
	margin-top: 2%;
	float: right;
}

/* Goals */

#registration.stage3 section {
	border-bottom: 1px solid #eee;
	padding-bottom: 30px;
}

#registration.stage3 section h4 {
	text-align: center;
	margin: 20px 0;
	color: #48B30D;
}

#registration.stage3 section input[type=checkbox],
#registration.stage3 main div.innerContainer > input {
	position: relative; 
	top: -5px;
}

#registration.stage3 section input[type=checkbox] {
	width: 33px;
}

#registration.stage3 section.goals .col_1_of_2 {
	margin-bottom: 5px;
    min-height: 90px;
}

#registration.stage3 main div.innerContainer > p {
	margin-bottom: 0 !important
}

#registration.stage3 button {
	float: right;
	position: relative;
	top: -10px;
}

/* Stage 4 - Complete
===============================================*/

#registration.stage4 {}

#registration.stage4 article > img {
	float: left;
    position: relative;
    top: 30px;
    width: 50%;
}

#registration.stage4 article p {
	margin: 0 !important;
}

#registration.stage4 article button {
	float: right;
}

/* ==========================================================================
   HOMEPAGE
   ========================================================================== */

/* ==========================================================================
   FITNESS PLAN
   ========================================================================== */

#fitnessPlan {}

/* some alignment for FitnessPlan page has been done under #registration stage1 global */

#fitnessPlan main .innerContainer > header {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
} 

#fitnessPlan main header .col_1_of_7 {
	float: right;
}

#fitnessPlan #trainingSections header ul li {
	display: inline-block;
	*zoom: 1;
	padding: 30px 98px;
	border: 1px solid #aaa;
}

#fitnessPlan #trainingSections header ul li:hover {
	background-color: #ddd;
	cursor: pointer;
}

#fitnessPlan #trainingSections section > .col_1_of_2 {
	float: left;
}

/* Custom Plan - Auto Plan
---------------------------------------------------------------- */
#fitnessPlan section.customPlan form,
#fitnessPlan section.autoPlan form {
	margin-top: 40px;
}

#fitnessPlan section.customPlan label,
#fitnessPlan section.autoPlan label {
	float: left;
	position: relative;
	top: 11px;
}

#fitnessPlan section.customPlan input,
#fitnessPlan section.customPlan select,
#fitnessPlan section.autoPlan input,
#fitnessPlan section.autoPlan select {
	float: right;
}

#fitnessPlan section.customPlan select,
#fitnessPlan section.autoPlan select {
	width: 63%;
}

#fitnessPlan section.customPlan button {
	float: right;
	margin-top: 15px;
}

#fitnessPlan section.autoPlan > div > form > span {
	float: left;
	
}

#fitnessPlan section.autoPlan > div > form > span:first-child {
	margin-right: 13px;
}

#fitnessPlan section.autoPlan button {
	float: right;
}

/* Grid Table */
section.autoPlan .nav-tabs {
	margin-top: 50px;
}

section .nav-tabs ul li.tab {
	display: inline-block;
	*zoom: 1;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;

	-webkit-border-top-right-radius: 7px;
	 -webkit-border-top-left-radius: 7px;
	 	-moz-border-radius-topright: 7px;
		 -moz-border-radius-topleft: 7px;
			border-top-right-radius: 7px;
			 border-top-left-radius: 7px;

	padding: 15px 50px;
}

section .nav-tabs ul li.active {
	background-color: #eee;
	position: relative;
	top: 1px;
}

section .nav-tabs ul li.active a {
	color: #FF7F01;
}

#fitnessPlan section table {
	border: 1px solid #ddd;
	padding: 15px;
}

#fitnessPlan section table thead,
#fitnessPlan section table tbody,
#fitnessPlan section table th,
#fitnessPlan section table tr,
#fitnessPlan section table td {
	border: 1px solid #ddd;
	text-align: center;
	vertical-align: middle;
}

#fitnessPlan section.autoPlan table thead,
#fitnessPlan section.autoPlan table tbody,
#fitnessPlan section.autoPlan table th,
#fitnessPlan section.autoPlan table tr,
#fitnessPlan section.autoPlan table td {
	padding: 15px 25px;
}

#fitnessPlan section.existingPlan table thead,
#fitnessPlan section.existingPlan table tbody,
#fitnessPlan section.existingPlan table th,
#fitnessPlan section.existingPlan table tr,
#fitnessPlan section.existingPlan table td {
	padding: 15px 22px;
}


#fitnessPlan section table thead {
	background-color: #eee;
}

/* ==========================================================================
   NUTRITIONAL PLAN
   ========================================================================== */

#nutritionalPlan {}

#nutritionalPlan main header {
	border-bottom: 1px solid #ddd;
}

#nutritionalPlan main header .col_1_of_4 {
	float: left;
	margin: 20px 5px;
}

#nutritionalPlan main header .col_1_of_4 button {
	width: 200px;
	height: 150px;
}

#nutritionalPlan main table {
	padding: 15px;
}

#nutritionalPlan section table,
#nutritionalPlan section table thead,
#nutritionalPlan section table tbody,
#nutritionalPlan section table th,
#nutritionalPlan section table tr,
#nutritionalPlan section table td {
	border: 1px solid #ddd;
	text-align: center;
	vertical-align: middle;
}

#nutritionalPlan section table thead,
#nutritionalPlan section table tbody,
#nutritionalPlan section table th,
#nutritionalPlan section table tr,
#nutritionalPlan section table td {
	padding: 15px 22px;
}


#nutritionalPlan section table thead {
	background-color: #eee;
}

#nutritionalPlan section .share {
	float: left;
	margin-right: 10px;
}

#nutritionalPlan section .share ul li {
	display: inline-block;
	padding: 15px 20px;
}

#nutritionalPlan section button.print {
	float: right;
	padding: 10px 30px;
}

#nutritionalPlan section.customMealPlan select {
	width: 100%;
}

/* ==========================================================================
   MEDIA
   ========================================================================== */

#media {}

#media main .col_1_of_5 {
	float: left;
}

#media main .subNav {
	float: left;
}

#media main .subNav > nav ul li {
	display: inline-block;
	padding: 15px 30px;
	border:	1px solid #ddd;
}

#media main #videos,
 #media main #paperTraining {
	margin-top: 30px;
}

#media main #videos > ul > li,
#media main #paperTraining > ul > li {
	padding: 10px;
	border: 1px solid #ddd;
	margin-bottom: 30px;
}



/* ==========================================================================
   Footer
   ========================================================================== */

footer .col_1_of_2 {
	text-align: right;
}

footer p {
	margin: 1em 0;
	font-size: 0.85em !important;
}

footer p,
footer p > a:link,
footer p > a:visited {
	color: #aaa;
}


/* ==========================================================================
  Box-Shadow
   ========================================================================== */

#introPage main #hiddenUserAccess,
#registration form span.tooltip {
	-webkit-box-shadow: 0px 0px 7px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 7px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 7px rgba(50, 50, 50, 0.75);
}

#registration main .innerContainer {
	-webkit-box-shadow: 0px 0px 22px rgba(72, 179, 13, 0.5); /* Equivalent color #48B30D used for main Intro text */
	-moz-box-shadow:    0px 0px 22px rgba(72, 179, 13, 0.5);
	box-shadow:         0px 0px 22px rgba(72, 179, 13, 0.5);
}


/* ==========================================================================
  Border Radius
   ========================================================================== */

#introPage main #hiddenUserAccess,
#registration main .innerContainer,
#registration form span.tooltip {
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}


/* ==========================================================================
  TEST
   ========================================================================== */

#registration form span {
	display:none;
}

#registration form span.tooltip {
	background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    /*display: block;*/
    height: 200px;
    max-width: 250px;
    padding: 1%;
}

/* to remove */
#fitnessPlan section.customPlan,
#fitnessPlan section.autoPlan,
.threemeal {
	display: none;
}


